@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>AuthenticationExample</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="" @onclick="OnLoginClick">Login</a>
                </NotAuthorized>
                <Authorized>
                    <span>@authenticationState!.User.Identity!.Name</span>
                    <a href="" @onclick="OnLogoutClick">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private AuthenticationState? authenticationState;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        authenticationState = await AuthenticationState;
    }

    private void OnLoginClick()
    {
        NavigationManager.NavigateTo("/login");
    }

    private async Task OnLogoutClick()
    {
        await AuthenticationStateProvider.LogoutAsync();
    }
}
